@model Kino.Models.Klient

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Klient</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Bilet.rodzaj)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bilet.rodzaj)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.imie)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.imie)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.nazwisko)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nazwisko)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.data_zak)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.data_zak)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.klient_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
